<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Solidária - Login</title>

    <!-- BootStrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Style Index -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 
    <%- include('utils/navOff') -%>
    
    <div class="container loginForm mt-4">
        <div class="form-signin">
            <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <p>Ainda não possui uma conta? <a href="/register">Registre-se agora!</a></p>
            <div id="logsErrors"></div>  
            </div>
        
            <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
        
            <div class="form-label-group mt-2">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
        
            <button class="btn btn-lg btn-primary btn-block mt-5" onclick="login()"><div id="loading">Entrar</div></button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
        </div>
    </div>

    <script type="text/javascript" src="js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>